<!DOCTYPE html>
<html>
    <head>
        <title>{{config.server_name}} - AsciiFlut</title>
    </head>
    <body>
        Server: {{config.server_name}}<br/>
        Chars: <pre>{{config.whitelist}}</pre>
    </body>
</html>
